<div class="container">
  <header class="jumbotron">
    <h1>Neat Questions. Neat Answers. Neat!</h1>
    {{#link-to 'index'}}Home Page{{/link-to}}
  </header>
  {{outlet}}
  <br>
  <!-- <footer class="jumbotron">
    {{#link-to 'questions'}}Contact Us{{/link-to}}
    {{#link-to 'about'}}About Us{{/link-to}}
  </footer> -->
</div>
